body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 20px;
}

h3,
h4,
p {
  font-weight: 400;
  color: gray;
}

span {
  font-weight: bold;
  color: black;
}
