body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 20px;
}

h3,
h4,
p {
  font-weight: 400;
  color: rgb(239, 228, 228);
}

span {
  font-weight: bold;
  color: white;
}

#outter {
  display: grid;
}

#enter-city {
  padding: 10px 18px;
  border-radius: 6px;
  border: 1px solid #d1d1d1;
  background: #af54ef;
  color: white;
  box-shadow: 3px 4px 13px -3px #8d8d8d;
}

#city-name {
  justify-content: center;
  display: flex;
  top: -7px;
  position: relative;
}

::placeholder {
  color: white;
}

#search-btn {
  background: #9c10ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 3px 4px 13px -3px #8d8d8d;
  cursor: pointer;
  transition: 0.3s;
}

#search-btn:hover {
  background: #7905cb;
}

#weather-work {
  /* display: none; */
  /* visibility: hidden; */
  background-color: #af54ef;

  padding: 20px;
  border-radius: 13px;
}

/* #search-btn:active #weather-work {
  display: block;
} */

#weater-bg {
  position: absolute;
  height: 200px;
  width: 200px;
  background: #6322cc7c;
  filter: blur(6px);
  -webkit-filter: blur(8px);
}

@media (max-width: 768px) {
  body {
    display: inline;
    font-size: 16px;
  }

  div:nth-child(2) {
    padding: 20px;
  }
}
